form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .question {
    display: flex;
    flex-direction: row; /* add this line */
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .question input[type="radio"] {
    margin-right: 5px;
  }
  
  #submit-btn {
    margin-top: 20px;
  }
  