.bg-image {
    margin: auto;
    width: 60%;
    height: 210px;
    background-image: url('/images/logoblack.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;


    animation: rotate 40s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  HTML CSSResult Skip Results Iframe
EDIT ON
.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    width: 17ch;
    animation: typing 3s steps(30), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 1.9em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    0% {
      border-color: transparent
    }
  }
  .btn-warning {
    color: #ffffff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
  .sentence1{
    font-size: 1.5rem;
  }
  .sentence2{
    font-size: 1.3rem;
  }