.bg-image {
    margin: auto;
    width: 60%;
    height: 210px;
    background-image: url('/images/logoblack.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;


    animation: rotate 40s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  HTML CSSResult Skip Results Iframe
EDIT ON

.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
.typing-demo {
    width: 17ch;
    animation: typing 3s steps(30), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 1.9em;
  }
  
@keyframes typing {
    from {
      width: 0
    }
  }
      
@keyframes blink {
    0% {
      border-color: transparent
    }
  }
  
#indexbt {
    width: 150px; /* set the width of the button */
    height: 50px; /* set the height of the button */
    display: flex; /* set the display property to flex */
    align-items: center; /* center the button vertically */
    justify-content: center; /* center the button horizontally */
    font-size: 1rem;
    padding: 0;
    border-radius: 0.25rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #fff;
    background-color: #109DB9;
    margin-left: 90px; /* Add this property to move the button to the right */
  }
  